html,body {
  margin: 0px !important;
  padding: 0px !important;
  background:transparent;
  background-image: url('loader.gif');
  background-repeat:no-repeat;
  background-size:15%;
  background-position:center center;
  overflow: hidden;
   -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
   -webkit-tap-highlight-color: transparent;
   -webkit-user-select: none;
   -khtml-user-select: none;
   -moz-user-select: none;
   -ms-user-select: none;
    user-select: none;
}

canvas{
  margin: 0px !important;
  padding: 0px !important;
  position:absolute;
  top:0px;
  left:0px;
  max-width:100%;
}

button,
textarea,
input,
select,
a{
 -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
 -webkit-tap-highlight-color: transparent;
 -webkit-user-select: none;
 -khtml-user-select: none;
 -moz-user-select: none;
 -ms-user-select: none;
  user-select: none;

}